@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: black;
}
.main {
  background-image: url("assests/images/net\ back.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 70vh;
  position: relative;
}
.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.54;
  background-color: black;
  position: absolute;
  top: 0;
}
nav {
  max-width: 60vw;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 62px;
}

nav img {
  color: red;
  width: 114px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px ;
  padding: 30px;
  
}

.hero> :first-child{
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
 .hero>  :nth-child(2){
  font-weight: 400;
  font-size: 24px;
  text-align: center;

 }
  .hero  :nth-child(3){
  font-weight: 400;
  font-size:20px;
  text-align: center;

 }
 
.curveseperator{
 background-color: grey;
height: 11px;
}
 .btn{
}